<!-- GAME STATE TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Swampy Gooch</title>
	<meta charset="utf-8" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		{% block stylefill %}
		
		{% endblock %}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6; min-height:100%">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				{% block bannerleft %}
				
				{% endblock %}
			</div>
			<div class="col" style="text-align: right">
				{% block bannerright %}
				  
				{% endblock %}
			 </div>
		</div>
		<div class="row" id="banner">
			
			 <div class="col">
				 <br>
				 <center>
				 <h3>Tracht Basketball Sim</h3>
				 </center>
			 </div>
			 
		</div>
		{% block fill %}
		{% endblock %}
	</div>	
	{% block scripts %}
	{% endblock %}
</body>

</html>