<!-- GAME STATE TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Swampy Gooch</title>
	<meta charset="utf-8" />
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		.user-player-box {border-right-style: solid; border-bottom-style: solid; border-top-style: solid; border-width: 1px;margin: 2px;}
		.opposing-player-box {border-left-style: solid; border-bottom-style: solid; border-top-style: solid; border-width: 1px;margin: 2px;}
		.user-player-container {margin-right: 2 px}
		.opposing-player-container {margin-left: 2px}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col">
				{% block bannerleft %}
				
				{% endblock %}
			</div>
			<div class="col" style="text-align: right">
				{% block bannerright %}
				  
				{% endblock %}
			</div>
		</div>
		<div class="row" id="banner">
			  <div class="col">
				  <br>
				  <center>
				  <h3>Tracht Basketball Sim</h3>
				  </center>
			  </div>
		</div><hr>
		<div class="row" id="Scoreboard">
					<div class="col" id="User Team Score" style="text-align: center;">
					0
					</div>
					<div class="col" id="Opposing Team Score" style="text-align: center;">
					0
					</div>
				</div>
		<div class="row">
		    <div class="col user-player-container" id="User Player List">
				<div class="row user-player-box" id="Point Guard Row">
					<div class="col-sm-12">
						{% block UserPointGuard %}
						{% endblock %}
					</div>
				</div>
				<div class="row user-player-box" id="Shooting Guard Row">
					<div class="col-sm-12">
						{% block UserShootingGuard %}
						{% endblock %}
					</div>
				</div>
				<div class="row user-player-box" id="Small Forward Row">
					<div class="col-sm-12">
						{% block UserSmallForward %}
						{% endblock %}
					</div>
				</div>
				<div class="row user-player-box" id="Power Forward Row">
					<div class="col-sm-12">
						{% block UserPowerForward %}
						{% endblock %}
					</div>
				</div>
				<div class="row user-player-box" id="Center Position Row">
					<div class="col-sm-12">
						{% block UserCenterPosition %}
						{% endblock %}
					</div>
				</div>
				<div class="row" id="User Team Stats">
					<div class="col-sm-12">
						{% block UserTeamStats %}
						{% endblock %}
					</div>
				</div>
		    </div> <!--col-sm-2-->
		    <div class="col opposing-player-container" id="Opposing Player List" style="text-align:right">
				<div class="row opposing-player-box" id="Point Guard Row">
					<div class="col-sm-12">
						{% block OpposingPointGuard %}
						{% endblock %}
					</div>
				</div>
				<div class="row opposing-player-box" id="Shooting Guard Row">
					<div class="col-sm-12">
						{% block OpposingShootingGuard %}
						{% endblock %}
					</div>
				</div>
				<div class="row opposing-player-box" id="Small Forward Row">
					<div class="col-sm-12">
						{% block OpposingSmallForward %}
						{% endblock %}
					</div>
				</div>
				<div class="row opposing-player-box" id="Power Forward Row">
					<div class="col-sm-12">
						{% block OpposingPowerForward %}
						{% endblock %}
					</div>
				</div>
				<div class="row opposing-player-box" id="Center Position Row">
					<div class="col-sm-12">
						{% block OpposingCenterPosition %}
						{% endblock %}
					</div>
				</div>
				<div class="row" id="Opposing Team Stats">
					<div class="col-sm-12">
						{% block OpposingTeamStats %}
						{% endblock %}
					</div>
				</div>
		     </div> <!--col-sm-2-->
		  
		</div> 
		<div class="row" id="Matchup Screen">
			<div class="col" id="Offense Player Name" style="text-align: center;">
			
			</div>
			<div class="col" id="Defense Player Name" style="text-align: center;">
			
			</div>
		</div>
		<div class="row" id="Start Simulation" style="display: inline, text-align: center;">
			<button type="button" id="Start Sim Button">Start Simulation</button>
		</div>
		<div class="row" id="Last Play Screen" style="display: none; margin-top: 5%">
			<div class="col" id="Result" style="text-align: center;">
			
			</div>
			<div class="col" style="text-align: center;">
			Shot Make Chance: <span id="Shot Make Chance"> </span>
			</div>						
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="https://github.com/tannertracht" target="blank">Github</a> | <a href="https://www.linkedin.com/in/tanner-tracht-aa0a04133/" target="blank">LinkedIn</a> | <a href="https://twitter.com/SmooothT" target="blank">Twitter</a></p>
		</div>
	</footer>	
	{% load static %}
	<link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}" type = "text/css"/>
	<script type="text/javascript" src="{% static 'game/js/script.js' %}"></script>
</body>

</html>