{% extends "game/header.html" %}

{% block UserPointGuard %}
	<p> 
	{{PointGuard.0}} {{PointGuard.1}}
	<br>
	{{PointGuard.4}} {{PointGuard.5}} {{PointGuard.6}} 
	</p>
{% endblock %}

{% block UserShootingGuard %}
	<p> 
	{{ShootingGuard.0}} {{ShootingGuard.1}}
	<br>
	{{ShootingGuard.4}} {{ShootingGuard.5}} {{ShootingGuard.6}} 
	</p>
{% endblock %}

{% block UserSmallForward %}
	<p> 
	{{SmallForward.0}} {{SmallForward.1}}
	<br>
	{{SmallForward.4}} {{SmallForward.5}} {{SmallForward.6}} 
	</p>
{% endblock %}
						
{% block UserPowerForward %}
	<p> 
	{{PowerForward.0}} {{PowerForward.1}}
	<br>
	{{PowerForward.4}} {{PowerForward.5}} {{PowerForward.6}} 
	</p>
{% endblock %}
						
{% block UserCenterPosition %}
	<p> 
	{{Center.0}} {{Center.1}}
	<br>
	{{Center.4}} {{Center.5}} {{Center.6}} 
	</p>
{% endblock %}

{% block UserTeamStats %}

{% endblock %}
						
{% block OpposingPointGuard %}
	<p> 
	{{OpposingPointGuard.0}} {{OpposingPointGuard.1}}
	<br>
	{{OpposingPointGuard.4}} {{OpposingPointGuard.5}} {{OpposingPointGuard.6}} 
	</p>
{% endblock %}
						
{% block OpposingShootingGuard %}
	<p> 
	{{OpposingShootingGuard.0}} {{OpposingShootingGuard.1}}
	<br>
	{{OpposingShootingGuard.4}} {{OpposingShootingGuard.5}} {{OpposingShootingGuard.6}} 
	</p>
{% endblock %}
						
{% block OpposingSmallForward %}
	<p> 
	{{OpposingSmallForward.0}} {{OpposingSmallForward.1}}
	<br>
	{{OpposingSmallForward.4}} {{OpposingSmallForward.5}} {{OpposingSmallForward.6}} 
	</p>
{% endblock %}
						
{% block OpposingPowerForward %}
	<p> 
	{{OpposingPowerForward.0}} {{OpposingPowerForward.1}}
	<br>
	{{OpposingPowerForward.4}} {{OpposingPowerForward.5}} {{OpposingPowerForward.6}} 
	</p>
{% endblock %}
						
{% block OpposingCenterPosition %}
	<p> 
	{{OpposingCenter.0}} {{OpposingCenter.1}}
	<br>
	{{OpposingCenter.4}} {{OpposingCenter.5}} {{OpposingCenter.6}} 
	</p>
{% endblock %}

{% block OpposingTeamStats %}

{% endblock %}

{% block UserTeamScore %}

{% endblock %}

{% block OpposingTeamScore %}

{% endblock %}