{% extends "game/base.html" %}

{% block stylefill %}
	.vertical-center {min-height: 100vh; display: flex; align-items: center}
{% endblock %}


{% block fill %}
	<div class="vertical-center" style="text-align:right;">
		<div style="margin-left: auto; margin-right: auto; width: 50"%>
		{{exists}}
		<form action="" method="post">
		{% csrf_token %}
		{{ form.team_name.label }} {{ form.team_name }} <br>
		{{ form.team_password.label }} {{ form.team_password }} <br>
		<input type="submit" value="Submit" />
		</form>
		</div>
	</div>
{% endblock %}


{% block scripts %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}" type = "text/css"/>
	<script type="text/javascript" src="{% static 'game/js/homescript.js' %}"></script>
{% endblock %}